.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 20px;
  
}

.profile-box{
  display:flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-evenly;
  width: 60rem;
  height: 38rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .4); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(15px);
}
.profile-username{
  color: #B88D01;
  font-size: 18px;
  margin-left:20%;
  margin-right:auto;
  font-family: 'Noto Sans', sans-serif;
}

.profile-email{
  color: #B88D01;
  font-size: 18px;
  margin-left:20%;
  margin-right:auto;
  font-family: 'Noto Sans', sans-serif;
}

.profile-password{
  color: #B88D01;
  font-size: 18px;
  margin-left:20%;
  margin-right:auto;
  border-top:2px solid #795d04;
  width:605px;
  padding-top:15px;
  font-family: 'Noto Sans', sans-serif;
}


.profile-username-input{
  position: absolute;
  margin-left: 380px;
  margin-top: -20px;
  color: #B88D01;
  width: 23%;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border: 0px;
  border-radius: 5px;
  height: 20px;
}

.profile-username-input:focus{
  outline: none;
}

.profile-email-input{
  position: absolute;
  margin-left: 380px;
  margin-top: -20px;
  width: 23%;
  color: #B88D01;
  border: 0px;
  border-radius: 5px;
  height: 20px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.profile-email-input:focus{
  outline: none;
}

.profile-password-input{
  position: absolute;
  margin-left: 380px;
  margin-top: -23px;
  width: 23%;
  height: 20px;
  color: #B88D01;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.profile-password-input:focus{
  outline:none;
}

#update-button{
  background-color: rgb(56, 55, 55);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border:none;
  font-size: 18px;
  color: #B88D01;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 480px;
  margin-right: 50px;
}
#update-button:hover{
  background-color: rgb(19, 19, 19);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border:none;
  font-size: 18px;
  color: #B88D01;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 480px;
  margin-right: 50px;
}

#update-button:focus{
  outline:none;
}
#profile-logo{
  position:relative;
  left:40%;
  right:auto;
  height: 200px;
  display:flex;
}
#profile-title {
  color: #2f280e;
  font-weight: 900;
  font-size: 160%;
  margin-bottom: 40px;
  margin-left:24%;
  margin-right:auto;
  text-shadow: 3px 0px 5px rgba(37, 37, 37, 0.63);
  text-decoration: underline;
  font-family: 'Noto Sans', sans-serif;
}

#profile-form-message{
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-size: 18px;
  margin-left: 150px;
  padding:0px;
  text-align: center;
  margin-top:20px;
}

#success-message {
  color: #2b7515;
  background: #ecffd6;
  border: 1px solid #617c42;
  font-size: 18px;
  margin-left: 150px;
  padding:0px;
  text-align: center;
  margin-top:20px;
}
