#register-form {
  margin: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input {
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #B88D01;
  font-size: 20px;
  gap: 10px;
}
.form-input {
  width: 350px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #B88D01;
  background-color: rgb(131, 131, 131);
  border: 0px;
  border-radius: 5px;
}
.form-input:focus {
  outline: #B88D01;
  background-color: rgb(94, 93, 93);
}
.form-input:hover {
  outline: none;
  background-color: rgb(94, 93, 93);
}
#register-button {
  padding-top: 40px;
  background: none;
  border: none;
  font-size: 18px;
  color: #B88D01;
  cursor: pointer;
}
#register-button:hover {
text-decoration: underline;
}
#register-button-div {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register-button:focus {
  outline: none;
  color: rgb(82, 82, 82);
}
#register-logo {
  width: 100px;
  height: 100px;
}
#register-form-message {
  margin-top:20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

input#input-username.form-input {
  width: 350px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #B88D01;
  background-color: rgb(197, 197, 197);
  border: 0px;
  border-radius: 5px;
}

input#input-email.form-input {
  width: 350px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #B88D01;
  background-color: rgb(197, 197, 197);
  border: 0px;
  border-radius: 5px;
}

input#input-password.form-input {
  width: 350px;
  height: 40px;
  font-size: 18px;
  padding-left: 20px;
  color: #B88D01;
  background-color: rgb(197, 197, 197);
  border: 0px;
  border-radius: 5px;
}

@media screen and (max-width: 760px){
  #register-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:77vh;
  }
  #register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-shadow: 0px 0px 10px 0px #B88D01;
    margin-top: 2vh;
    box-shadow: 0px 0px 10px 0px #111110;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(15px);
    font-family: 'Noto Sans', sans-serif;
  }
  #register-head {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #register-title {
    color:#B88D01;
    font-weight: 900;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  #register-form {
    margin: 10px;
  }
  .register-input {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #B88D01;
    font-size: 20px;
    gap: 10px;
  }
  .form-input {
    width: 250px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    color: #B88D01;
    background-color: rgb(131, 131, 131);
    border: 0px;
    border-radius: 5px;
  }
  .form-input:focus {
    outline: #B88D01;
    background-color: rgb(94, 93, 93);
  }
  .form-input:hover {
    outline: none;
    background-color: rgb(94, 93, 93);
  }
  #register-button {
    padding-top: 5px;
    background: none;
    border: none;
    font-size: 18px;
    color: #B88D01;
    cursor: pointer;
  }
  #register-button:hover {
  text-decoration: underline;
  }
  #register-button-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #register-button:focus {
    outline: none;
    color: rgb(82, 82, 82);
  }
  #register-logo {
    width: 70px;
    height: 70px;
  }
  #register-form-message {
    margin-top:20px;
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  input#input-username.form-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    color: #B88D01;
    background-color: rgb(197, 197, 197);
    border: 0px;
    border-radius: 5px;
  }
  
  input#input-email.form-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    color: #B88D01;
    background-color: rgb(197, 197, 197);
    border: 0px;
    border-radius: 5px;
  }
  
  input#input-password.form-input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
    color: #B88D01;
    background-color: rgb(197, 197, 197);
    border: 0px;
    border-radius: 5px;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}